@model IEnumerable<ORDER_MANAGEMENT.Data.UserVM>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="m-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h3>Users</h3>
        </div>
        <div class="col text-right">
            <a href="/Users/Create" class="btn-floating btn-success" title="Add New">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>


    <table id="DataTable" class="table table-sm table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    User Name
                </th>
                <th>
                    Hierarchy Name
                </th>
                <th>
                    Designation
                </th>
                <th>
                    DOB
                </th>
                <th>
                    NID
                </th>
                <th>
                    Office Email
                </th>
                <th>
                    Personal Contact
                </th>
                <th>
                    Reporting To
                </th>

                <th>
                    Joining Date
                </th>
                <th class="all" style="width:50px">
                    Change
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.HierarchyName
                </td>
                <td>
                    @item.Designation
                </td>
                <td>
                    @Html.DisplayFor(model => item.DOB)
                </td>
                <td>
                    @item.NID
                </td>
                <td>
                    @item.OfficeEmail
                </td>
                <td>
                    @item.PersonalContact
                </td>
                <td>
                    @item.ReportingTo
                </td>
                <td>
                    @Html.DisplayFor(model => item.JoiningDate)
                </td>
                <td>
                    <a class="blue-text" href="/Users/ChangeHierarchy/@item.RegistrationID">Change</a>
                </td>
            </tr>
            }
        </tbody>
</table>
</div>

@section Scripts {
    <script>
        $(function () {
             $('#DataTable').DataTable();

            //$('#DataTable').DataTable({
            //    "aoColumnDefs": [
            //        { 'bSortable': false, 'aTargets': [9,10,11] }
            //    ]
            //});
        });
    </script>
}