@model ORDER_MANAGEMENT.Data.AdminDashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="m-md-3">
    <h3 class="font-weight-bold mb-3">DASHBOARD</h3>
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="media white z-depth-1 rounded">
                <i class="fas fa-users fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
                <div class="media-body p-1">
                    <p class="text-uppercase text-muted mb-1"><small>Distributors</small></p>
                    <h5 class="font-weight-bold mb-0">@Model.TotalDistributor</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="media white z-depth-1 rounded">
                <i class="fas fa-store fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                <div class="media-body p-1">
                    <p class="text-uppercase text-muted mb-1"><small>Outlets</small></p>
                    <h5 class="font-weight-bold mb-0">@Model.TotalOutlet</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="media white z-depth-1 rounded">
                <i class="fas fa-warehouse fa-lg teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                <div class="media-body p-1">
                    <p class="text-uppercase text-muted mb-1"><small>Depots</small></p>
                    <h5 class="font-weight-bold mb-0">@Model.TotalDepot</h5>
                </div>
            </div>
        </div>
    </div>
    

    <div class="card card-body mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th><strong>RANK</strong></th>
                    <th><strong>HIERARCHY</strong></th>
                    <th class="text-center"><strong>TOTAL USERS</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RankWiseNumberOfUser)
                {
                    <tr>
                        <td><strong>@item.Rank</strong></td>
                        <td>@item.HierarchyName</td>
                        <td class="text-center">
                            <strong> @item.UserCount</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>










