@model IEnumerable<ORDER_MANAGEMENT.Data.DistributorListWithUserVM>
@{
    ViewBag.Title = "Distributor";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="card card-body m-md-3">
    <h3 class="mb-3">Distributor</h3>

    <div class="table-responsive">
        <table id="DataTable" class="table table-sm table-bordered nowrap">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Territory</th>
                    <th>Report To</th>
                    <th>Due Amount</th>
                    <th>Due Range</th>
                    <th>Assign To Depot</th>
                    <th style="width:50px">Update</th>
                </tr>
            </thead>
            <tbody>
            @{
                var index = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.Name</td>
                        <td>@item.Mobile</td>
                        <td>@item.TerritoryName</td>
                        <td>@item.ReportTo_User.Name</td>
                        <td>@item.TotalDue</td>
                        <td>@item.DueRangeLimit</td>
                        <td>
                            @{
                                if (!string.IsNullOrEmpty(item.DepotName))
                                {
                                    <span>@item.DepotName</span>
                                }
                                else
                                {
                                    <a class="btn-assign blue-text" data-regionId="@item.RegionID" data-distId="@item.DistributorID">Assign</a>
                                }
                            }

                        </td>
                        <td>
                            @{
                                if (item.IsApproved)
                                {
                                    <a class="text-primary" href="/Distributor/Update/@item.DistributorID"><i class="fas fa-edit mr-1"></i>Update</a>
                                }
                                else
                                {
                                    <a class="text-success" href="/Distributor/Approved/@item.DistributorID"><i class="fas fa-check mr-1"></i>Approve</a>
                                }
                            }
                        </td>
                    </tr>

                    index++;
                }
            }
            </tbody>
        </table>
    </div>
</div>


<!-- Modal assign to depot -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header blue-gradient white-text">
                <h4 class="m-0"><i class="fas fa-plus-circle"></i> Assign To Depot</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAssign">
                    <div class="form-group">
                        <label>Depot</label>
                        <input type="hidden" id="regionId" />
                        <input type="hidden" id="distributorId" />
                        <select id="dlDepot" class="form-control" required></select>
                    </div>

                    <div class="text-center mt-1-half">
                        <button id="btnTransfer" type="submit" class="btn blue-gradient mb-1 waves-effect waves-light">Assign <i class="fas fa-check ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(function () {
            $('#DataTable').DataTable({ "aoColumnDefs": [{ 'bSortable': false, 'aTargets': [6] }] });
        });


        //assign modal
        $('#DataTable').on("click", ".btn-assign", function(evt) {
            evt.preventDefault();

            $('#assignModal').modal('show');
            const regionId = $(this).attr("data-regionId");

            $('#regionId').val(regionId)
            $('#distributorId').val($(this).attr("data-distId"))

            const dlDepotSelect = $('#dlDepot');
            dlDepotSelect.empty();


            if (regionId) {
                const url = "/Depot/DepotDropDownByRegion";
                $.get(url, { regionId }, function(response) {
                    dlDepotSelect.append($('<option/>', { value: "", text: "[ SELECT DEPOT ]" }));
                    $.each(response, function(i, item) {
                        dlDepotSelect.append($('<option/>', { value: item.value, text: item.label }));
                    });
                });
            }
        });

        const formAssign = document.getElementById("formAssign");
        formAssign.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const body = {
                depotId: this.dlDepot.value,
                distributorId: this.distributorId.value
            }

            $.ajax({
                url: "/Distributor/AssignToDepot",
                type: "POST",
                data: body,
                success: function (response) {
                    //$('#assignModal').modal('hide');
                    location.reload();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}