@model IEnumerable<ORDER_MANAGEMENT.Data.OutletListVM>
@{
    ViewBag.Title = "Outlet";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section Styles{
    <style>
        .delete { color: red; cursor: pointer }
    </style>
}


<div class="m-md-3 card card-body">
    <h3 class="mb-3">Outlets</h3>

    <div class="table-responsive">
        <table id="DataTable" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>SN</th>
                    <th class="text-left">Outlet Name</th>
                    <th>Proprietor</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th class="text-left">Address</th>
                    <th>Due Range</th>
                    <th style="width: 80px">Approved</th>
                    <th style="width: 50px">Delete</th>
                    <th style="width: 50px">Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td class="text-left">@item.OutletName</td>
                            <td>@item.ProprietorName</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            <td class="text-left">@item.Address</td>
                            <td>@item.DueRangeLimit</td>
                            <td>
                                @{
                                    if (item.IsApproved)
                                    {
                                        <a class="updateDueRange text-primary" data-due="@item.DueRangeLimit" data-id="@item.OutletID">Update</a>
                                    }
                                    else
                                    {
                                        <a class="approve text-success" data-due="@item.DueRangeLimit" data-id="@item.OutletID">Approve</a>
                                    }
                                }
                            </td>
                            <td><i data-id="@item.OutletID" class="delete fas fa-trash-alt"></i></td>
                            <td>
                                <a href="/Outlet/Update/@item.OutletID">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>

                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal approve -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header blue-gradient white-text">
                <h4 class="m-0"><i class="fas fa-plus-circle"></i> Approve Outlet</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="approveForm">
                    <input type="hidden" id="hiddenOutletId">
                    <div class="form-group">
                        <label>Due Range</label>
                        <input id="inputDueRange" min="0" type="number" class="form-control" required />
                    </div>
                    <div class="text-center mt-1-half">
                        <button id="btnApprove" type="submit" class="btn blue-gradient mb-1 waves-effect waves-light">Approve <i class="fas fa-check ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal due range -->
<div class="modal fade" id="dueRangeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <div class="modal-content">
            <div class="modal-header blue-gradient white-text">
                <h4 class="m-0"><i class="fas fa-plus-circle"></i> Update Due Range</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="dueRangeForm">
                    <input type="hidden" id="hiddenOutletId2">
                    <div class="form-group">
                        <label>Due Range</label>
                        <input id="inputDueRange2" min="0" type="number" class="form-control" required />
                    </div>
                    <div class="text-center mt-1-half">
                        <button id="btndueRange" type="submit" class="btn blue-gradient mb-1 waves-effect waves-light">Update <i class="fas fa-check ml-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        //***approve*****//
        const approveForm = document.getElementById("approveForm");
        const dueRangeForm = document.getElementById("dueRangeForm");

        //show modal
        $('#DataTable').on("click", ".approve", function() {
            approveForm.hiddenOutletId.value = $(this).data("id");
            approveForm.inputDueRange.value = $(this).data("due");

            $('#approveModal').modal('show');
        });

        //post
        approveForm.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const body = {
                outletId: this.hiddenOutletId.value,
                dueRange: this.inputDueRange.value
            }

            $.ajax({
                url: "/Outlet/Approved",
                type: "POST",
                data: body,
                success: function(response) {
                    // $('#approveModal').modal('hide');
                    location.reload();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });


        //***due range update*****//
        //show modal
        $('#DataTable').on("click", ".updateDueRange", function() {
            dueRangeForm.hiddenOutletId2.value = $(this).data("id");
            dueRangeForm.inputDueRange2.value = $(this).data("due");

            $('#dueRangeModal').modal('show');
        });

        //post
        dueRangeForm.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const body = {
                outletId: this.hiddenOutletId2.value,
                dueRange: this.inputDueRange2.value
            }

            $.ajax({
                url: "/Outlet/DueRangeUpdate",
                type: "POST",
                data: body,
                success: function(response) {
                    // $('#dueRangeModal').modal('hide');
                    location.reload();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });


        //***delete outlet*****//
        $('#DataTable').on("click", ".delete", function() {
            const outletId = $(this).data("id");
            if (!outletId) return;

            const isConfirm = confirm("are you sure want to delete?");

            if (!isConfirm) return;

            $.ajax({
                url: "/Outlet/DeleteOutlet",
                type: "POST",
                data: { outletId },
                success: function(response) {
                    if (!response.IsSuccess) {
                        $.notify(response.Message, "error");
                        return;
                    }

                    location.reload();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>
}