<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Order Management</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/MDB/css/mdb_core.css" rel="stylesheet" />

    <!-- custom -->
    <link href="~/CSS/Custom.css" rel="stylesheet" />

    @RenderSection("Styles", false)
</head>
<body>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
        <div class="container">
            <a class="navbar-brand" href="/Account/Login">ORDER MANAGEMENT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavToggle" aria-controls="NavToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="NavToggle">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item">
                        @Html.Partial("_OuterLoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main style="min-height:750px">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer id="footer" class="page-footer mt-4 wow fadeIn bg-main p-0 d-print-none">
        <div class="footer-copyright text-center py-3">
            © @DateTime.Now.Year Copyright: <a href="#">ordermanagement.com</a>
        </div>
    </footer>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/MDB/js/mdb_core.js"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            //Back to top
            $('body').append('<div id="toTop" class="btn btn-primary">TOP</div>');
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });

            $('#toTop').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });

            // Animations initialization
            new WOW().init();
        });

    </script>
</body>
</html>
